html, body {
  height: 100%;
  margin: 0;
  background-color: #151515;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maze-container {
  position: relative;
  width: min(70vw, 70vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas#maze {
  border: 8px solid black;
}

.game-text-container {
  height: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

p#game-text {
  width: 100%;
  margin-top: 0;
  font-family: sans-serif;
  text-align: center;
  color: #FAF9F6;
}

/* Positions a link to the maze-game GitHub repo in the bottom right corner */
a#github-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;

  img {
    transition: filter 0.1s ease;
    width: 48px;
  }

  img:hover {
    transition: filter 0.3s ease;
    width: 48px;
    filter: drop-shadow(0 0 12px rgba(250, 249, 246, 0.8));
  }
}
